*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style:none;
    text-decoration:none;
}
@font-face {
    font-family: 'Open Sans';
    src:url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src:url(fonts/OpenSans-SemiBold.ttf);
    font-weight: bold;
}
body{
    font-family:'Open Sans' ,Arial, Helvetica, sans-serift;
    font-size:14px;
    counter-reset:count;
}
h2{
    font-size:36px;
    font-weight: normal;
    line-height:42px;
    text-transform: uppercase;
    color:#292f36;  
    position:relative;  
}
h3{
    font-size:18px;
    color:#292f36;
    text-transform: uppercase;
    font-weight:normal;
}
p{
    font-size:16px;
    line-height:26px;
    color:#8d8f92;
}
.cate{
    margin-top:85px;
    padding-left:25px;
}
.cate::before{
    content:' ';
    position:absolute;
    left:0;
    top:3px;
    width:10px;
    height:35px;
    background:#e1e6ea;
}
/* header  */
header{
    height:80px;
    background:#1d2126;    
}
.container{
    width:1140px;    
    margin:0 auto; 
}
header > .container{
    display:flex;
    justify-content: space-between;
}
/* logo */
header > .container > h1{
    line-height:80px;    
}
header > .container > h1 > img{
    display:inline;
}
/* menu */
header > .container > .top-menu > li {
    display:inline-block;
}
header > .container > .top-menu > li > a{
    color:#a4aead;
    text-transform: uppercase;
    padding:10px 15px;
    border:2px solid transparent;
    height: 80px;
    line-height:80px;
    border-radius:5px;
    font-weight: bold;
}
header > .container > .top-menu > li > a:hover{
    border-color:#5b6168;
}
header > .container > .top-menu > li > a.active-menu{
    border-color:#23b7a4;
    color:#23b7a4;
}
/* end header */

/* slider */
.slider{
    background:url(images/slides/slide-1.jpg) no-repeat center center #3a454d;    
}
.slider > .container {
    height:660px;
    display:flex;
    align-items:center; 
    position:relative;   
}
.slider > .container h2,.slider > .container p,.slider > .container > div a{
    color:white;
}
.slider > .container > div{
    max-width:654px;    
}
.slider > .container > div p{
    margin-top:32px;
}
.slider > .container > div a{
    display:inline-block;   
    height:44px; 
    line-height:42px;
    padding: 0px 26px;    
    text-transform: uppercase;
    border: 2px solid white;    
    border-radius:5px;
    margin:45px 11px 0 0;
}
.slider > .container > div a:last-child{
    margin-right:0;
}
.slider > .container > div a.active {
    background: #23b7a4;
    border-color:#23b7a4;
}
.slider > .container > ul{
    position:absolute;
    right:0;
    bottom:30px;
}
.slider > .container > ul > li{
    display:inline-block;    
    margin-left:9px;
}
.slider > .container > ul > li:first-child{
    margin-left:0;
}
.slider > .container > ul > li > a{
    display:inline-block;
    width:15px;
    height:15px;
    border:2px solid white;
    border-radius:50%;    
    text-indent: -1000000px;
}
.slider > .container > ul > li > a.current{
    background:white;
}

/* ablut */
.about > .container > div{
    display:flex;
    margin-top:58px;
    justify-content: space-between;
}
.about > .container > div > div:first-child{
    flex-basis: 654px;
}
.about > .container > div > div:first-child > p{
    margin-bottom:28px;
}
.about > .container > div > div:first-child > p:last-child{
    margin-bottom:0px;
}
.about > .container ul{
    margin-top:50px;
}
.about > .container ul li{
    display:inline-block;
}
.about > .container ul li a{
    display:inline-block;
    width:60px;
    height:60px;
    line-height:60px;
    background-color:#c8cdd0;
    text-indent: -1000000px;    
}
.about > .container ul li a.fb{
    background:url(images/social-icons.png) no-repeat 60% -60px #c8cdd0; 
}
.about > .container ul li a.twitter{
    background:url(images/social-icons.png) no-repeat 50% 0px #c8cdd0; 
}
.about > .container ul li a.googleplus{
    background:url(images/social-icons.png) no-repeat 60% -360px #c8cdd0; 
}
.about > .container ul li a.chuabiet{
    background:url(images/social-icons.png) no-repeat 50% -303px #c8cdd0; 
}
.about > .container ul li a.be{
    background:url(images/social-icons.png) no-repeat 50% -180px #c8cdd0; 
}
.about > .container ul li a:hover{
    background-color:#d0d5d9;
}
.about > .container > div > div:last-child{
    flex-basis: 457px;
}
.about > .container ol > li{
    position:relative;
    padding-left:67px;
    margin-bottom:13px;
}
.about > .container ol > li::before{
    counter-increment:count;
    content: counter(count,decimal-leading-zero);
    position:absolute;
    left:0;
    top:12px;
    width:50px;
    height:50px;   
    background:#23b7a4;
    color:white; 
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    line-height:42px;
}
.about > .container ol > li:last-child{
    margin-bottom:0;
}
.about > .container ol > li > h3{
    line-height:42px;
    margin-bottom:3px;
}