*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style:none;
    text-decoration:none;
}
@font-face {
    font-family: 'Open Sans';
    src:url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src:url(fonts/OpenSans-SemiBold.ttf);
    font-weight: bold;
}
body{
    font-family:'Open Sans' ,Arial, Helvetica, sans-serift;
    font-size:14px;
    counter-reset:count;
}
h2{
    font-size:36px;
    font-weight: normal;
    line-height:42px;
    text-transform: uppercase;
    color:#292f36;  
    position:relative;  
}
h3{
    font-size:18px;
    color:#292f36;
    text-transform: uppercase;
    font-weight:normal;
}
p{
    font-size:16px;
    line-height:26px;
    color:#8d8f92;
}
.cate{
    margin-top:85px;
    padding-left:25px;
}
.cate::before{
    content:' ';
    position:absolute;
    left:0;
    top:3px;
    width:10px;
    height:35px;
    background:#e1e6ea;
}
/* header  */
header{
    height:80px;
    background:#1d2126;    
}
.container{
    width:1140px;    
    margin:0 auto; 
}
header > .container{
    display:flex;
    justify-content: space-between;
}
/* logo */
header > .container > h1{
    line-height:80px;    
}
header > .container > h1 > img{
    display:inline;
}
/* menu */
header > .container > .top-menu > li {
    display:inline-block;
}
header > .container > .top-menu > li > a{
    color:#a4aead;
    text-transform: uppercase;
    padding:10px 15px;
    border:2px solid transparent;
    height: 80px;
    line-height:80px;
    border-radius:5px;
    font-weight: bold;
}
header > .container > .top-menu > li > a:hover{
    border-color:#5b6168;
}
header > .container > .top-menu > li > a.active-menu{
    border-color:#23b7a4;
    color:#23b7a4;
}
/* end header */

/* slider */
.slider{
    background:url(images/slides/slide-1.jpg) no-repeat center center #3a454d;    
}
.slider > .container {
    height:660px;
    display:flex;
    align-items:center; 
    position:relative;   
}
.slider > .container h2,.slider > .container p,.slider > .container > div a{
    color:white;
}
.slider > .container > div{
    max-width:654px;    
}
.slider > .container > div p{
    margin-top:32px;
}
.slider > .container > div a{
    display:inline-block;   
    height:44px; 
    line-height:42px;
    padding: 0px 26px;    
    text-transform: uppercase;
    border: 2px solid white;    
    border-radius:5px;
    margin:45px 11px 0 0;
}
.slider > .container > div a:last-child{
    margin-right:0;
}
.slider > .container > div a.active {
    background: #23b7a4;
    border-color:#23b7a4;
}
.slider > .container > ul{
    position:absolute;
    right:0;
    bottom:30px;
}
.slider > .container > ul > li{
    display:inline-block;    
    margin-left:9px;
}
.slider > .container > ul > li:first-child{
    margin-left:0;
}
.slider > .container > ul > li > a{
    display:inline-block;
    width:15px;
    height:15px;
    border:2px solid white;
    border-radius:50%;    
    text-indent: -1000000px;
}
.slider > .container > ul > li > a.current{
    background:white;
}

/* ablut */
.about {
    padding-bottom:100px;
    border-bottom:1px solid #dde1e4;
}
.about > .container > div{
    display:flex;
    margin-top:58px;
    justify-content: space-between;
}
.about > .container > div > div:first-child{
    flex-basis: 654px;
}
.about > .container > div > div:first-child > p{
    margin-bottom:28px;
}
.about > .container > div > div:first-child > p:last-child{
    margin-bottom:0px;
}
.about > .container ul{
    margin-top:50px;
}
.about > .container ul li{
    display:inline-block;
}
.about > .container ul li a{
    display:inline-block;
    width:60px;
    height:60px;
    line-height:60px;
    background-color:#c8cdd0;
    text-indent: -1000000px;    
}
.about > .container ul li a.fb{
    background:url(images/social-icons.png) no-repeat 60% -60px #c8cdd0; 
}
.about > .container ul li a.twitter{
    background:url(images/social-icons.png) no-repeat 50% 0px #c8cdd0; 
}
.about > .container ul li a.googleplus{
    background:url(images/social-icons.png) no-repeat 60% -360px #c8cdd0; 
}
.about > .container ul li a.chuabiet{
    background:url(images/social-icons.png) no-repeat 50% -303px #c8cdd0; 
}
.about > .container ul li a.be{
    background:url(images/social-icons.png) no-repeat 50% -180px #c8cdd0; 
}
.about > .container ul li a:hover{
    background-color:#d0d5d9;
}
.about > .container > div > div:last-child{
    flex-basis: 457px;
}
.about > .container ol > li{
    position:relative;
    padding-left:67px;
    margin-bottom:13px;
}
.about > .container ol > li::before{
    counter-increment:count;
    content: counter(count,decimal-leading-zero);
    position:absolute;
    left:0;
    top:12px;
    width:50px;
    height:50px;   
    background:#23b7a4;
    color:white; 
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    line-height:42px;
}
.about > .container ol > li:last-child{
    margin-bottom:0;
}
.about > .container ol > li > h3{
    line-height:42px;
    margin-bottom:3px;
}
/* team */
.team > .container > h2{
    margin-bottom:52px;
}
.team > .container > div {
    display:flex;    
    justify-content: space-between;        
}
.team > .container > div > div > ul{
    display:none;
}
.team > .container > div > div{
    flex-basis: 262px;
    height:375px;
}
.team > .container > div > div{
    position:relative;
}
.team > .container > div > div::after{
    content:' ';
    position:absolute;
    display:block;
    clear: both;
}
.team > .container > div img{
    display:block;
    width: 262px;
    height:301px;
}
.team > .container > div ul{
    display:block;
    position:absolute;
    left:55px;
    top:125.5px;
}
.team > .container > div ul li{
    display:block;
    float:left;
    margin-left:1px;
}
.team > .container > div ul li:first-child{
    margin-left:0px;
}
.team > .container > div ul li a{
    display:inline-block;
    width: 50px;
    height:50px;
    line-height:50px;    
    text-indent: -1000000px;    
    background-size:20px !important;
}
.team > .container > div ul li:nth-child(1) a
{
    background:url(images/social-icons.png) no-repeat 15px 0px #3a454d;    
}
.team > .container > div ul li:nth-child(2) a
{
    background:url(images/social-icons.png) no-repeat 18px -49px #3a454d;
}
.team > .container > div ul li:nth-child(3) a
{
    background:url(images/social-icons.png) no-repeat 17px -100px #3a454d;
}
.team > .container > div > div > div{
    height:74px;
    background:#e1e6ea;
    padding:11.5px 0 0 21px;
}
.team > .container > div > div > div > h3{
    color:#292f36;
    font-size:16px;
    line-height:35px;    
}
.team > .container > div > div > div > p{
    font-size:14px;
    line-height:26px;
    margin-top:-6.5px;
    color:#8d8f92;
}
.team > .container > div > div:hover > div{
    background:#3a454d;
}
.team > .container > div > div:hover > div > h3{    
    color:#cacdd0;
}
.team > .container > div > div:hover > div > p{
    color:#cacdd0;
}
.team > .container > div > div:hover ul{
    display: block;;
}
.team > .container > div > div:hover img{
    background:white;
    opacity: 0.4;
}
.team > .container > div ul li a:hover{
    background-color:#4e5a62;
}
/* lovely work */
.lovelywork > .container > div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top:64px;       
}
.lovelywork > .container > div > div{  
    flex-basis: 360px;
    height: 265px;
    margin:0px 30px 30px 0px;    
    position:relative;
}
.lovelywork > .container > div > div::after{
    content:' ';
    background:#292f36;
    opacity: 0.5;
    width:360px;
    height:204px;
    position:absolute;
    left:0;
    top:0;
    display:none;
}
.lovelywork > .container > div > div:nth-child(3n)
{
    margin-right:0px;
}
.lovelywork > .container > div > div > h3{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    font-size:18px;
    line-height:61px;
    padding-left:20px;        
    background:#292f36; 
    color:white;  
    display:none;          
}
/* .lovelywork > .container > div > div > div{
    position:absolute;
    left:0;
    top:0;
    opacity: 0.5;
    width: 360px;
    height: 204px;    
    background:#292f36;
    display:none;    
} */
.lovelywork > .container > div > div > a::before{    
    content:'\002B';
    color:white;
    font-size:40px;
    position:absolute;
    left:0;
    top:0;    
    width:360px;
    height:204px;
    display:flex;    
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lovelywork > .container > div > div > a::after{
    background:#292f36;
    opacity: 0;
    content:'\002B';
    color:white;
    font-size:40px;
    position:absolute;
    left:0;
    top:0;    
    width:360px;
    height:204px;
    display:flex;    
    justify-content: center;
    align-items: center;
}
.lovelywork > .container > div img{
    display:inline-block;
    width:360px;
    height:265px;    
}
.lovelywork > .container > div > div:hover > a::before
{
    opacity: 1;
}
.lovelywork > .container > div > div:hover > a::after
{
    opacity: 0.5;
}
.lovelywork > .container > div > div:hover > div,
.lovelywork > .container > div > div:hover > h3
{
    display:block;    
} 