*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    color:#2e2e2e;
    outline: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#F8F9FA;
}
.container{
    max-width:1170px;
    padding:0 15px;
    margin:0 auto;
}
#logo{
    font-size:12px;
    display:inline-block;
    background:#0072bc url(../images/vtech-logo.png) no-repeat;
    background-size: 30px 30px;    
    background-position:center center;
    text-indent: -1000000px;
    width:30px;
    height:30px;    
    border-radius:3px;       
}

header{
    box-shadow: 0 2px 4px rgba(0,0,0,0.075);
    background-color:white;
    position:sticky;
    top:0px;
    z-index:99999;
}
header > .container,
header > .container > div:first-child
{
    display:flex;
    align-items: center;
}
header > .container{
    height:56px;
}
header > .container > div:first-child{
    width:30%;
}
header > .container > div:last-child{
    width:70%;    
    position:relative;
}
header > .container > div:last-child::before{
    content:' ';
    position:absolute;
    display:block;
    clear: both;
}

#wrapper > .container {
    display:flex;
    justify-content: space-between;
}
#wrapper > .container > div:nth-child(1)
{
    width: 200px;
}
#wrapper > .container > div:nth-child(3)
{
    width: 285px;
}
#wrapper > .container > div:nth-child(2)
{
    width: 625px;
    min-height:780px;
}

footer{
    background-color:#FFFFFF;
    margin-top:20px;
    padding:10px 0px;
}

#searchBox {
    border: 1px solid rgb(138, 195, 228);        
    margin-left:10px;
    border-radius: 3px;  
    height:30px; 
    display:flex;
    align-items:center;   
    width:90%; 
    background-color:white;
}
#searchBox  > input {
    padding:4px 10px;
    width:100%;
    border:none;
    background-color:transparent;
}
#searchBox > button
{
    background-color:transparent;
    border:none;
    text-indent: -10000px;
    cursor: pointer;
    position:relative;
}
#searchBox > button::before,
#searchBox > button::after{
    content: ' ';
    position: absolute;
    border-color:#7e7e7e;
    border-style: solid;
}
#searchBox > button::before{
    border-width: 2px;    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 0px;
    top: -3px;    
}
#searchBox > button::after{    
    border-width: 3px;
    border-left:none;
    border-bottom:none;
    border-top:none;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    left: 7px;
    top: 12px;
}
.menu-top{
    position:relative;
    height:55px;
    /* line-height:50px;     */
    float:right;
}
.menu-top::after{
    content: ' ';
    position: absolute;
    display: block;
    clear: both;    
}
.menu-top > li {
    float:left;  
    position:relative;   
    line-height:50px;   
}
.menu-top > li > a {
    display:inline-block;
    padding:3px 10px;
    font-weight: 600;
}
.menu-top > li:hover > a{
    background-color: rgb(228, 228, 228);
}
.menu-top > li ul,
.menu-top > li ul li ul
{
    display: none;
    background-color:rgb(228, 228, 228);
    min-width:200px;
    position:absolute;    
}
.menu-top > li ul{
    left:0px;
    top:100%;
    z-index: 9999;
}
.menu-top > li:hover > ul{
    display:block;    
}
.menu-top > li:hover > a{
    color:#d63f12e8;
}
.menu-top > li ul li{
    line-height:40px;
    position:relative;
}
.menu-top > li ul li ul{
    left:100%;
    top:0px;
}
.menu-top > li ul li a{
    display:inline-block;
    width:100%;
    padding-left:15px;
}
.menu-top > li ul li:hover > a{
    background-color:#868686;
    color:white;
}
.menu-top > li ul li:hover ul{
    display:block;
}

.cate-box,
article,
.top-content
{
    border: 1px solid #dfdfdf;
    border-radius:3px;
    margin-top:20px;
    background-color:white;
    padding:15px 15px;
}
.top-content{
    background-color:transparent;
    border:none;
    padding:0px;
}
.top-content > h4,
.cate-box > h4 {
    font-weight: 600;
    font-size: 17px;  
    margin-bottom:8px;  
}
.top-content > h4{
    text-transform: uppercase;
    font-size:16px; 
    color:black;   
}
.top-content > div > h2{
    font-size: 15px;
    color:#414141;
    line-height:26px;
    margin-bottom:10px;
    position:relative;
    padding-left:15px;
}
.top-content > div > h2::before{
    content: ' ';
    position:absolute;
    border:1px solid #414141;
    border-left:none;
    border-bottom:none;
    transform: rotate(45deg);
    width:5px;
    height:5px;
    left:0px;
    top:10px;
}
.cate-box > ul > li {
    padding-left:15px;
    line-height:28px;
    position:relative;
}
.cate-box > ul > li ::before{
    content: '#';
    position:absolute;
    left:0px;
    top:0px;
}
.top-content > div > h2:hover > a,
.cate-box > ul > li:hover > a,
article > h2:hover > a
{
    color:#d63f12e8;
}

article > span,
article > h2 {
    display:inline-block;
    font-size:18px;
}
article > h3{
    font-size:14px;
}
article > span > a{
    background:rgb(28, 127, 255);
    color:white;
    text-transform: capitalize;    
    padding:3px 5px;
    font-size:12px;
    font-weight: 600;
    border-radius:3px;            
}
article > p {
    margin-top:15px;
    line-height:26px;
}
article > ul {
    position:relative;
    height:30px;   
}
article > ul::after {
    content: ' ';
    position:absolute;
    display:block;
    clear:both;    
}
article > ul > li {
    float:left;
    margin-right:10px;
}

footer > .container > ul{
    display:block;
    height:30px;
    line-height: 30px;;
    width: 100%;
    position:relative;
    margin-bottom:10px;
}
footer > .container > ul::after{
    content:' ';
    position:absolute;
    display:block;
    clear:both;
}
footer > .container > ul > li{
    float:left;
    margin-right:15px;
}
.menu-mobile{
    display:none;
}
@media screen and (max-width : 1150px)
{
    #left-sidebar{
        display:none;
    }
    #site-content{
        width:calc(100% - 300px) !important;
    }
}
@media screen and (max-width : 1012px){
    .menu-top > li > a {        
        padding: 3px 8px;       
    }
}
@media screen and (max-width : 970px)
{
    header > .container {
        position:relative;
    }
    header > .container > div:last-child {        
        position: unset;
    }
    header > .container > div:first-child {
        width: 80%;
    }
    header > .container > div:last-child {
        width: 20%;
    }
    .menu-top{
        position:absolute;
        width:100%;
        top:calc(100% + 1px);
        left:0px;
        background-color:white;        
        height:auto;
    }
    .menu-top > li {
        float: none;        
        line-height: 26px;
    }
    .menu-mobile{
        position:relative;
        cursor: pointer;
        border: 1px solid #a1a1a1;
        width:28px;
        height:23px;
        background-color:white;
        border-radius:3px;
        float:right;       
        display:block; 
    }
    .menu-mobile::before,
    .menu-mobile::after{
        content: ' ';
        position:absolute;
        width:20px;
        border-left:none !important;
        border-right:none !important;        
        border:3px solid #464646;
        left:3px;
    }
    .menu-mobile::before{                
        height:9px;        
        top:3px;
    }
    .menu-mobile::after{        
        height:20px;        
        border-bottom:none;        
        top:9px;
    }
    .menu-top.show{
        display:block;
    }
    .menu-top.hide{
        display:none;
    }
}
@media screen and (max-width : 900px){
    #site-content{
        width:100% !important;
    }
    #question{
        display:none;
    }
}