*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#custom{
    width:1000px;
    margin:100px auto;
}
.ISwitch>input[type=checkbox]{
    display:none;
}
.ISwitch>span{
    display:inline-block;
    width:60px;
    height:35px;
    background:#4AD361;
    border-radius:20px;
    position:relative;
}
.ISwitch>span>span{
    width: 31px;
    height:31px;
    border-radius:50%;
    background:white;
    position:absolute;
    right:2px;
    top:2px;
    box-shadow:-1px 1px 5px rgba(0,0,0,0.3);
}
.ISwitch>input[type=checkbox]:checked + span{
    background:rgba(0,0,0,0.2);    
}
.ISwitch>input[type=checkbox]:checked + span>span{
    right:auto;
    left:2px;    
}